<div id="left-nav" class="w-full flex flex-col gap-y-10 px-5 p-5">
  <div class="w-full flex flex-col gap-y-5">
    <p class="text-3xl text-slate-900">Your library</p>
    <table class="w-full table-fixed border-collapse border border-slate-200">
      <thead>
        <th class="py-2 border border-slate-200 w-1/4">Title</th>
        <th class="border border-slate-200 w-1/8">Length</th>
        <th class="border border-slate-200">Date Uploaded</th>
        <th class="border border-slate-200">Actions</th>
      </thead>
      <tbody>
        {% for audio in audios%}
        <tr>
          <td class="py-2 border border-slate-200 p-2">{{audio.label}}</td>
          <td class="border border-slate-200 p-2">{{audio.length}}</td>
          <td class="border border-slate-200 p-2">{{audio.uploaded_at}}</td>
          <td
            class="border border-slate-200 p-2 flex items-center justify-around"
          >
            <button
              class="bg-slate-800 px-2 py-2 text-white rounded-lg"
              hx-get="audio/{{audio.uid}}"
              hx-target="#right-section"
              hx-swap="outerHTML"
            >
              Open
            </button>
            <button
              hx-delete="audio/{{audio.uid}}"
              class="border border-slate-800 px-2 py-2 text-black rounded-lg"
              hx-confirm
              hx-target="left-nav"
              hx-swap="outerHTML"
            >
              Delete
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% comment %} <div id="audio-upload">{% include "elson/upload.html" %}</div> {% endcomment %}
</div>


