{% extends 'app/base.html' %} {% load static %} {% load crispy_forms_tags %} 

{% block title %}login{% endblock title %}

{% block content %}
<div class="flex flex-col w-1/2 gap-y-5 max-w-lg">
    <h1 class="text-3xl">Login into your account</h1>
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
        <div class="flex flex-col gap-y-3">
            <div class="form-group">
              {{ form.username | as_crispy_field}}
            </div>
            <div class="form-group">
              {{ form.password | as_crispy_field}}
            </div>
            <input type="submit" class="w-full bg-rose-200 rounded-md p-2.5 text-gray-700" value="Login" />
        </div>
    </form>
    <a href="/register" class="text-sky-800 underline">I don't have an account</a>
</div>
{% endblock content %}
