{% load static %}

<div class="flex flex-col w-full items-start p-10 border rounded-md gap-y-5">
  <p>
    Please confirm your audio file.
    <strong>lack of confirmation in 5 min will not save the audio</strong>
  </p>
  <div class="flex flex-col items-start gap-y-2">
    <p class="text-lg">{{title}}</p>
    <p class="text-md">{{description}}</p>
  </div>
  <figure class="flex flex-col gap-y-2 w-full">
    <div class="flex items-center">
      <audio controls>
        <source src="{{ location }}" type="audio/mp3">
        <a href="{{ location }}"> Download audio </a>
      </audio>
      <button>
        <img src="{% static 'icons/remove.svg' %}" />
      </button>
    </div>
  </figure>
    <form action="{% url 'confirm_audio_file' %}" method="post" id="confirm-audio-form">
    {% csrf_token %}
    <button
        type="submit"
        class="bg-slate-800 px-2 py-2 text-white rounded-lg"
    >
        Yes, this is the right audio file
    </button>
    </form>

</div>