 {% load static %}  

<div class="flex flex-col w-1/2 gap-y-5 max-w-lg">
    <h1 class="text-3xl">Login into your account</h1>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="flex flex-col gap-y-3">
            <label for="id_username">Username</label>
            <input type="text" id="id_username" name="username" placeholder="Enter username" required>
            <label for="id_password">Password</label>
            <input type="password" id="id_password" name="password" placeholder="Enter password" required>
            <input type="submit" class="w-full bg-rose-200 rounded-md p-2.5 text-gray-700" value="Login">
        </div>
    </form>
    <a href="{% url 'register' %}" class="text-sky-800 underline">I don't have an account</a>
</div>

